<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Auto Image Release</title>
		<link href="assets/css/bootstrap.css" rel="stylesheet" />
		<style type="text/css">
      		body {
        		padding-top: 60px;
        		padding-bottom: 40px;
      		}
      		.sidebar-nav {
        		padding: 9px 0;
      		}
    	</style>
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="brand" href="#">A.I.R</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li><a href="#">Home</a></li>
							<li><a href="#">Build</a></li>
							<li class="active"><a href="#">Test</a></li>
							<li><a href="#">Release</a></li>
						</ul>
						<p class="navbar-text pull-right">Logged in as <a href="#">Username</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header">Projects</li>
							<li class="active"><a href="#">QBJM0</a></li>
							<li><a href="#">QBJP0</a></li>
						</ul>
					</div>
				</div>
				<div class="span10">
					<div class="row-fluid">
						<h2>QBJM0</h2>
						<p>Test Case Configuration</p>
					</div>
					<div class="row-fluid">
						<form class="well">
							<label>Cold Boot</label>
							<label class="checkbox">
								<input type="checkbox" />Boot
							</label>
						</form>
					</div>
					<div class="row-fluid">
						<form class="well">
							<label>Suspend</label>
							<label class="checkbox">
								<input type="checkbox" />Suspend
							</label>
						</form>
					</div>
					<div class="row-fluid">
						<form class="well">
							<label>Brightness</label>
							<label class="checkbox">
								<input type="checkbox" />Brightness
							</label>
						</form>
					</div>
					<div class="row-fluid">
						<form class="well">
							<label>Codec</label>
							<label class="checkbox">
								<input type="checkbox" />Audio
							</label>
							<label class="checkbox">
								<input type="checkbox" />Video
							</label>
							<label class="checkbox">
								<input type="checkbox" />Image
							</label>
						</form>
					</div>
					<div class="row-fluid">
						<form class="well">
							<label>Storage</label>
							<label class="checkbox">
								<input type="checkbox" />SD Card Mount / Unmount
							</label>
							<label class="checkbox">
								<input type="checkbox" />Read / Write SD Card
							</label>
							<label class="checkbox">
								<input type="checkbox" />Read / Write Internal Storage
							</label>
							<label class="checkbox">
								<input type="checkbox" />MTP
							</label>
							<label class="checkbox">
								<input type="checkbox" />Storage Information
							</label>
						</form>
					</div>
					<div class="row-fluid">
						<form class="well">
							<label>3G</label>
							<label class="checkbox">
								<input type="checkbox" />3G
							</label>
							<label class="checkbox">
								<input type="checkbox" />SIM Card
							</label>
						</form>
					</div>
					<div class="row-fluid">
						<form class="well">
							<label>WiFi</label>
							<label class="checkbox">
								<input type="checkbox" />Wi-Fi Basic Function
							</label>
							<label class="checkbox">
								<input type="checkbox" />WEP
							</label>
							<label class="checkbox">
								<input type="checkbox" />WPA
							</label>
							<label class="checkbox">
								<input type="checkbox" />WPA2
							</label>
							<label class="checkbox">
								<input type="checkbox" />Shared
							</label>
							<label class="checkbox">
								<input type="checkbox" />VPN
							</label>
						</form>
					</div>
					<div class="row-fluid">
						<form class="well">
							<label>GPS</label>
							<label class="checkbox">
								<input type="checkbox" />GPS
							</label>
						</form>
					</div>
					<div class="row-fluid">
						<form class="well">
							<label>Bluetooth</label>
							<label class="checkbox">
								<input type="checkbox" />BT Basic Functions
							</label>
							<label class="checkbox">
								<input type="checkbox" />Pair Connect
							</label>
						</form>
					</div>
					<div class="row-fluid">
						<form class="well">
							<label>Sensors</label>
							<label class="checkbox">
								<input type="checkbox" />Accelerometer Sensors
							</label>
							<label class="checkbox">
								<input type="checkbox" />Compass Sensors
							</label>
							<label class="checkbox">
								<input type="checkbox" />Gyro Sensors
							</label>
							<label class="checkbox">
								<input type="checkbox" />Light Sensors
							</label>
							<label class="checkbox">
								<input type="checkbox" />Proximity Sensors
							</label>
							<label class="checkbox">
								<input type="checkbox" />Thermal Sensors
							</label>
							<label class="checkbox">
								<input type="checkbox" />Pressure Sensors
							</label>
						</form>
					</div>
					<div class="row-fluid">
						<form class="well">
							<label>Battery</label>
							<label class="checkbox">
								<input type="checkbox" />Battery Status
							</label>
						</form>
					</div>
					<div class="row-fluid">
						<form class="well">
							<label>Camera</label>
							<label class="checkbox">
								<input type="checkbox" />Font Camera
							</label>
							<label class="checkbox">
								<input type="checkbox" />Rear Camera
							</label>
							<label class="checkbox">
								<input type="checkbox" />Flash Light
							</label>
						</form>
					</div>
					<div class="row-fluid">
						<form class="well">
							<label>HW Buttons</label>
							<label class="checkbox">
								<input type="checkbox" />Power Button
							</label>
							<label class="checkbox">
								<input type="checkbox" />Volume Button
							</label>
						</form>
					</div>
					<div class="row-fluid">
						<form class="well">
							<label>Others</label>
							<label class="checkbox">
								<input type="checkbox" />ADB Client
							</label>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script src="../assets/js/bootstrap.js"></script>
		<script src="../assets/js/jquery-1.7.1.js"></script>
	</body>
</html>
